.previous-searches {
    display: block;
    h2 {
        color: var(--text-color);
        margin-bottom: 0.5em;
    }
    .previous-searches-container {
        .search-item {
            background-color: var(--primary-color);
            display: inline-block;
            padding: 0.5em 1em;
            margin: 0 1em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: calc(var(--animation-speed) * 0.5s) slideInRight forwards;
        }
    }
    .search-box {
        display: flex;
        align-items: center;
        height: 35px;
        justify-content: flex-end;
        input,
        .btn {
            height: 35px;
        }
        input {
            min-width: 250px;
            outline: none;
            padding: 0 0.5em;
            border-radius: 5px 0 0 5px;
            border: 1px solid #4d4d4d;
        }
        .btn {
            border-radius: 0 5px 5px 0;
            padding-block: 0;
            padding-inline: 0.75em;
        }
    }
}
